// Colors
@base: #34495e;
@firm: #5e84aa;

@gray: #95a5a6;
@lightgray: #ecf0f1;
@inverse: white;

@success: #2ecc71;
@danger: #e74c3c;
@warning: #f1c40f;
@info: #3498db;

// Font
@base-font-family: "Lato", sans-serif;
@base-font-size: 14px;
