// Mixins
.animation(...) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // *behavior: url('../js/boxsizing.htc')
}

.box-shadow(...) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.opacity(@value) {
  opacity: @value;
  filter: ~`"alpha(opacity = " + "@{value}"  * 100 + ")"`;
  zoom: 1;
}

.placeholder-color(@color) {
  &:-moz-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
  &.placeholder {
    color: @color;
  }
}

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
  -webkit-backface-visibility: hidden;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -ms-transform: @arguments;
  -o-transform: @arguments;
  transform: @arguments;
}

.vertical-gradient(@from, @to) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @from), color-stop(100%, @to));
  background: -webkit-linear-gradient(top, @from, @to);
  background: -moz-linear-gradient(top, @from, @to);
  background: -ms-linear-gradient(top, @from, @to);
  background: -o-linear-gradient(top, @from, @to);
  background: linear-gradient(to bottom, @from, @to);
}

.selection(@color) {
  &::selection {
    background: @color;
  }
  &::-moz-selection {
    background: @color;
  }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.dropdown-arrow(@color: @base, @top: 5px, @left: 15px, @size: 9px) {
  &:before {
    content: "";
    border-style: solid;
    border-width: 0 @size @size @size;
    border-color: transparent transparent @color transparent;
    height: 0px;
    position: absolute;
    left: @left;
    top: @top;
    width: 0px;
    // Make corners smooth
    -webkit-transform: rotate(360deg);
  }
}

.drop-ie-gradient {
  filter: ~"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
