@charset "UTF-8";

@font-face {
  font-family: 'bttlfont';
  src: url("../fonts/bttlfont.eot?22392961");
  src: url("../fonts/bttlfont.eot?22392961#iefix") format('embedded-opentype'), url("../fonts/bttlfont.woff?22392961") format('woff'), url("../fonts/bttlfont.ttf?22392961") format('truetype'), url("../fonts/bttlfont.svg?22392961#bttlfont") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bttlfont';
    src: url('../fonts/bttlfont.svg?22392961#bttlfont') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'bttlfont';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-duckduckgo:before { content: '\21'; } /* '!' */
.icon-delicious:before { content: '\23'; } /* '#' */
.icon-paypal:before { content: '\24'; } /* '$' */
.icon-flattr:before { content: '\25'; } /* '%' */
.icon-android:before { content: '\26'; } /* '&amp;' */
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-wikipedia:before { content: '\2c'; } /* ',' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-bitcoin:before { content: '\32'; } /* '2' */
.icon-reddit:before { content: '\3e'; } /* '&gt;' */
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-cc:before { content: '\43'; } /* 'C' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-myspace:before { content: '\5f'; } /* '_' */
.icon-amazon:before { content: '\61'; } /* 'a' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-pinboard:before { content: '\6e'; } /* 'n' */
.icon-tumblr:before { content: '\74'; } /* 't' */
.icon-wordpress:before { content: '\77'; } /* 'w' */
.icon-stripe:before { content: '\a3'; } /* '£' */
.icon-appnet:before { content: '\e1'; } /* 'á' */
.icon-bitbucket:before { content: '\e9'; } /* 'é' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-umbrella:before { content: '\2602'; } /* '☂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-check:before { content: '\2611'; } /* '☑' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-refresh:before { content: '\27f3'; } /* '⟳' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-ok-circle-inv:before { content: '\e702'; } /* '' */
.icon-cancel-circle-inv:before { content: '\e703'; } /* '' */
.icon-help-circle:before { content: '\e704'; } /* '' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-terminal:before { content: '\e7ac'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-target:before { content: '🎯'; } /* '\1f3af' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-fire:before { content: '🔥'; } /* '\1f525' */