.button-states(@color) {
  background-color: @color;
  &:hover,
  &:focus {
    background-color: lighten(@color, (100 - lightness(@color)) * (20% / 100));
  }
  &:active,
  &.active {
    background-color: darken(@color, lightness(@color) * (15% / 100));
  }
}

// Buttons -----------------------
.btn {
  border: none;
  background: @base;
  color: @inverse;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  .box-shadow(none);
  .transition(0.25s);
  &:hover,
  &:focus {
    background-color: lighten(@base, (100 - lightness(@base)) * (20% / 100));
    color: @inverse;
    .transition(0.25s);
  }
  &:active,
  &.active {
    background-color: darken(@base, lightness(@base) * (15% / 100));
    color: rgba(red(@inverse), green(@inverse), blue(@inverse),  0.75);
    .box-shadow(none);
  }
  &.disabled,
  &[disabled] {
    background-color: @gray;
    color: @inverse;
  }
  &.btn-navbar {
    background-image: none;
  }
  // Sizes -----------------------
  &.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
  }
  // Colors -----------------------
  &.btn-primary {
    .button-states(@firm);
  }
  &.btn-info {
    .button-states(@info);
  }
  &.btn-danger {
    .button-states(@danger);
  }
  &.btn-success {
    .button-states(@success);
  }
  &.btn-warning {
    .button-states(@warning);
  }
  // Button with icon inside
  .btn-toolbar & {
    font-size: 18px;
    padding: 10px 14px 9px;
    &:first-child {
      .border-radius(6px 0 0 6px);
    }
    &:last-child {
      .border-radius(0 6px 6px 0);
    }
  }
}

.btn-toolbar {
  .btn.active {
    color: @inverse;
  }
}
