// For demo purposes only
/*.demo-headline {
  padding: 73px 0 110px;
  text-align: center;
}
*/
.navimg(@height) {
  height: @height;
  margin-top: -5px;
}
.brand {
  img {
    .navimg(24px);
  }
}
.pillbttl-image {
  .navimg(24px);
}
.btn-navbar {
  margin-top: 12px !important;
}
#overview, #ink-overview {
  .palette-clouds;
  color: @base;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    margin-top: 18px;
  }
}
#mainpage-overview {
  background-image: url('/images/bttlbackground.jpg');
  background-position: left bottom;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  text-shadow: 3px 3px 5px black;
  h1 {
    margin-top: 30px;
  }
}
#ink-overview {
  background-image: url('/ink/images/inkblot.png');
  background-repeat: no-repeat;
  background-position: right -75px bottom -40px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 3px white;
}
.logo {
  background: url("/pills/images/pill-bottle.png") center 0 no-repeat;
  float: left;
  background-size: 128px 128px;
  height: 128px;
  overflow: hidden;
  text-indent: -9999em;
  width: 128px;
}
.main-logo {
  background: url("/images/bttl-med.png") center 0 no-repeat;
  background-size: auto;
  width: 290px;
  height: 157px;
  margin-right: 35px;
}
.ink-logo {
  background: url("/ink/images/ink.png") center 0 no-repeat;
  background-size: 112px 128px;
}
.pills-sidenav {
  border: 1px solid @gray;
  .border-radius(6px);
  padding: 0;
  li {
    border-bottom: 1px solid @gray;
    &:first-child a {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border: 0;
      a {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    a {
      padding: 10px 15px;
      margin: 0;
      text-decoration: none;
      &:hover {
        color: darken(@gray, lightness(@gray) * (15% / 100));
      }
      i {
        float: right;
        margin-top: 2px;
      }
    }
  }
}
.pills-contents {
  min-height: 400px !important;
}
.pill-list li {
  font-size: 1.6em;
  line-height: 1.6em;
}
.pill-bracket {
  color: @firm;
  font-weight: bold;
}
.demo-tiles img {
  max-height: 160px;
}
#page {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: auto;
}
.input-append {
  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  a {
    height: auto;
    line-height: 20px;
    padding: 9.5px 5px;
    box-sizing: border-box;
  }
}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
#boxes {
    .modalwindow {
        position:fixed;
        width: 340px;
        height: 400px;
        display:none;
        z-index:9999;
    }
    #help {
        background-color: @inverse;
        width: 85%;
        min-height: 85%;
        overflow: auto;
        .border-radius(25px);
        .helpbox {
            padding: 2em;
        }
    }
    #fetching {
        display: inherit;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        font-size: 6em;
        color: @gray;
        background-color: @inverse;
        p {
            position: absolute;
            text-align: center;
            line-height: 1em;
            width: 100%;
            top: 15%;
        }
    }
    #success {
        background-color: @inverse;
        width: 50%;
        height: auto !important;
        padding: 20px;
        text-align: center;
        border: 3px solid @info;
        .border-radius(20px);
        p {
            margin: 0;
        }
        .success-title {
            display: block;
            margin: 0.5em 0;
            color: @firm;
            font-size: 1.25em;
        }
        .success-link {
            display: inline-block;
            margin: 0.5em auto;
            border: 1px solid @gray;
            .border-radius(10px);
            text-decoration: none;
            padding: 1em;
            font-size: 1.5em;
        }
        .success-email, .success-twitter, .success-facebook {
            font-size: 1.5em;
            text-decoration: none;
            display: inline-block;
            border: 2px solid @lightgray;
            .border-radius(10px);
            text-align: center;
            padding: 0.75em;
            width: 100px;
            margin: 1em 0.25em;
            i {
                font-size: 2em;
                line-height: 1.66em;
            }
            &:hover {
                border-color: @gray;
            }
            &:hover i.icon-mail {
                color: @danger;
            }
            &:hover i.icon-twitter {
                color: #33ccff;
            }
            &:hover i.icon-facebook {
                color: #3B5998;
            }
        }
    }
    .close {
        font-size: 2em;
    }
}
#piechart {
  height: 340px;
  width: 340px;
  margin: 10px auto;
  text-align: center;
  .ink-load {
    margin: 10px auto;
  }
  h2 {
    color: #9B9B9B;
  }
}
.white {
  color: white;
}
.inputitem input {
  width: 90%;
}
#submitInput {
    padding: 0.5em;
    font-size: 2.75em;
    margin: 15px 0;
}
.status-check {
    label {
        font-size: 1.5em;
        line-height: 2em;
        border: 2px solid @gray;
        color: @gray;
        border-radius: 1.1em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        padding: 0 0.5em;
        margin-bottom: 5px;
        &:hover {
            cursor: pointer;
            border-color: @base;
            color: @base;
        }
        &.first {
            margin-left: 0;
        }
    }
    #selectYes, #selectNo, #selectMay {
        width: 0;
        height: 0;
        margin: 0 0 0 -5000px;
        padding: 0;
    }
    .selectdisabled {
        border-color: @lightgray;
        color: @lightgray;
        cursor: not-allowed;
        i {
            color: @lightgray;
        }
    }
    #selectYes {
        &:checked+label {
            border-color: @success;
            color: @base;
            i {
                color: @success;
            }
        }
        &:disabled+label {
            .selectdisabled;
        }
    }
    #selectNo {
        &:checked+label {
            border-color: @danger;
            color: @base;
            i {
                color: @danger;
            }
        }
        &:disabled+label {
            .selectdisabled;
        }
    }
    #selectMay {
        &:checked+label {
            border-color: @warning;
            color: @base;
            i {
                color: @warning;
            }
        }
        &:disabled+label {
            .selectdisabled;
        }
    }
}
#details {
  margin-bottom: 40px;
}
.table {
  tr td:last-child, tr th:last-child {
    text-align: center !important;
  }
}
#crowd-shortcut {
  left: auto !important;
}
#gittip {
  margin: 0 0 2px 20px;
}

// --------------------------------------------------------------------------
.demo-logo {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100px;
  .logo {
    background: url("../images/demo-logo.png") center 0 no-repeat;
    float: left;
    background-size: 256px 256px;
    height: 256px;
    overflow: hidden;
    text-indent: -9999em;
    width: 256px;
  }
  small {
    color: rgba(red(@base), green(@base), blue(@base),  0.3);
    display: block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 5px;
  }
}

// Panels delimiter
.demo-row {
  margin-bottom: 20px;
}

.demo-panel-title {
  margin-bottom: 20px;
  padding-top: 20px;
  small {
    color: lighten(desaturate(@base, 25%), (100 - lightness(desaturate(@base, 25%))) * (66% / 100));
    font-size: inherit;
    font-weight: 400;
  }
}

// Shift blocks to fit design
.demo-navigation {
  margin-bottom: -4px;
  margin-top: -10px;
}

.demo-pager {
  margin-top: -10px;
}

.demo-tooltips {
  height: 126px;
  // Needed just for the demo. Don't use it in producion ;)
  .tooltip {
    left: -8px !important;
    position: relative !important;
    top: -8px !important;
  }
}

.demo-headings {
  margin-bottom: 12px;
}

.demo-tiles {
  margin-bottom: 46px;
}

.demo-icons {
  margin-bottom: 115px;
}

.demo-icons-24 {
  font-size: 24px;
  margin-bottom: 38px;
  position: relative;
  span {
    margin: 0 0 0 18px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.demo-icons-16 {
  font-size: 16px;
  margin: 0 0 38px 5px;
  position: relative;
  span {
    margin: 0 0 0 28px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.demo-icons-tooltip {
  bottom: 0;
  color: lighten(@base, (100 - lightness(@base)) * (70% / 100));
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}

.demo-illustrations {
  margin-bottom: 45px;
  img {
    height: 100px;
    margin-left: 35px;
    width: 100px;
    vertical-align: bottom;
    &.big-illustration {
      height: 111px;
      width: 112px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.demo-samples {
  margin-bottom: 46px;
}

.demo-video {
  border-radius: 6px;
  padding-top: 95px;
}

.demo-download-section {
  float: none;
  margin: 0 auto;
  padding: 60px 0 90px 20px;
  text-align: center;
  [class*='fui-'] {
    margin: 3px 0 -3px;
  }
}

.demo-download {
  background-color: lighten(@base, (100 - lightness(@base)) * (90% / 100));
  border-radius: 50%;
  height: 120px;
  margin: 0 auto 32px;
  padding: 40px 28px 30px 32px;
  text-align: center;
  width: 130px;
  img {
    height: 104px;
    width: 82px;
  }
}

.demo-download-text {
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}

.demo-text-box {
  a:hover {
    color: @firm;
  }
}

.demo-browser {
  background: darken(@base, lightness(@base) * (15% / 100)) url("../images/demo/browser.png") 0 0 no-repeat;
  background-size: 659px 42px;
  border-radius: 0 0 6px 6px;
  color: @inverse;
  margin: 0 41px 140px 0;
  padding-top: 42px;
}

.demo-browser-side {
  float: left;
  padding: 22px 20px;
  width: 111px;
  > h5 {
    margin-bottom: 3px;
    text-transform: none;
  }
  > h6 {
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 3px;
    text-transform: none;
  }
}

.demo-browser-author {
  background: url("../images/demo/browser-author.jpg") center center no-repeat;
  border: 3px solid @inverse;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  .border-radius(50%);
}

.demo-browser-action {
  padding: 30px 0 12px;
  > .btn {
    padding: 9px 0 10px 11px;
    text-align: left;
    .border-radius(3px);
    &:before {
      color: @inverse;
      content: "\e004";
      font-size: 16px;
      font-family: "Flat-UI-Icons-16";
      font-weight: 300;
      margin-right: 12px;
      position: relative;
      top: 1px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.demo-browser-content {
  background-color: @base;
  border-radius: 0 0 6px;
  overflow: hidden;
  padding: 21px 0 0 20px;
  > img {
    border: 6px solid @inverse;
    float: left;
    margin: 0 15px 20px 0;
    width: 134px;
  }
}

// Serving 2x images
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: ~"3 / 2"), only screen and (-o-min-device-pixel-ratio: ~"2 / 1"), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url("../images/pill-bottle-2x.png");
  }
  .demo-browser {
    background-image: url("../images/demo/browser-2x.png");
  }
}

@media (max-width: 979px) {
  .pill-topnav .nav > li {
    > a:hover {
      background-color: @firm !important;
      color: @inverse !important;
      background-image: none;
    }
    > ul {
      border: solid 1px @firm !important;
      padding-top: 0 !important;
    }
  }
  .status-check {
    label {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar, footer .span7 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer .span5, footer .span7 {
    width: 100%;
  }
  .footer-banner {
    margin-left: 0 !important;
  }
  #mainpage-overview {
    padding-top: 5px;
    padding-bottom: 5px;
    h1 {
      margin-top: 0px;
      margin-left: 20px;
    }
    .lead {
      margin-left: 20px;
    }
  }
  #ink-overview {
    background-image: none;
  }
  .inputitem input {
    width: 98%;
  }
}