// Footer
footer {
  background-color: desaturate(lighten(@base, (100 - lightness(@base)) * (91% / 100)), 15%);
  color: desaturate(lighten(@base, (100 - lightness(@base)) * (66% / 100)), 22%);
  font-size: 15px;
  padding: 0;
  a {
    color: desaturate(lighten(@base, (100 - lightness(@base)) * (50% / 100)), 25%);
    font-weight: 700;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
}

.footer-title {
  margin: 0 0 22px;
  padding-top: 21px;
}

.footer-brand {
  display: block;
  margin-bottom: 26px;
  width: 220px;
  img {
    width: 216px;
  }
}

// Footer banner
.footer-banner {
  background-color: @firm;
  color: lighten(desaturate(@firm, 15%), (100 - lightness(desaturate(@firm, 15%))) * (80% / 100));
  margin-left: 42px;
  min-height: 286px;
  padding: 0 30px 30px;
  .footer-title {
    color: @inverse;
  }
  a {
    color: lighten(desaturate(@firm, 15%), (100 - lightness(desaturate(@firm, 15%))) * (80% / 100));
    text-decoration: none;
    i {
      padding: 0 0.5em 0 0;
    }
    &:hover {
      text-decoration: none;
      color: lighten(desaturate(@firm, 5%), (100 - lightness(desaturate(@firm, 5%))) * (50% / 100));
    }
  }
  ul {
    list-style-type: none;
    margin: 0 0 26px;
    li {
      border-top: 1px solid lighten(@firm, (100 - lightness(@firm)) * (4% / 100));
      line-height: 19px;
      padding: 6px 0;
      &:first-child {
        border-top: none;
        padding-top: 1px;
      }
    }
  }
}
