.input-states(@color) {
  border-color: @color;
  color: @color;
  .box-shadow(none);
  &:focus {
    .box-shadow(none);
  }
}

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid lighten(@base, (100 - lightness(@base)) * (85% / 100));
  color: @base;
  font-family: @base-font-family;
  font-size: @base-font-size;
  padding: 8px 0 9px 10px;
  text-indent: 1px;
  .border-radius(6px);
  .box-shadow(none);
  .placeholder-color(desaturate(lighten(@base, (100 - lightness(@base)) * (60% / 100)), 15%));
  &:focus {
    border-color: @firm;
    .box-shadow(none);
  }
  .control-group.error & {
    .input-states(@danger);
  }
  .control-group.success & {
    .input-states(@success);
  }
  .control-group.warning & {
    .input-states(@warning);
  }
  .control-group.info & {
    .input-states(@info);
  }
}

// Disabled state -----------------
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: lighten(@gray, (100 - lightness(@gray)) * (80% / 100));
  border-color: transparent;
  color: lighten(@gray, (100 - lightness(@gray)) * (50% / 100));
  cursor: default;
}

// Text field grids -----------------
input,
textarea,
.uneditable-input {
  width: 192px;
}
