// Progress bar
.progress, .ui-slider {
  background: lighten(@base, (100 - lightness(@base)) * (90% / 100));
  border-radius: 32px;
  height: 12px;
  .box-shadow(none);
  .drop-ie-gradient;
  .bar {
    background: @firm;
    .box-shadow(none) !important;
    .drop-ie-gradient;
  }
  .bar-success {
    background-color: @success;
    .drop-ie-gradient;
  }
  .bar-warning {
    background-color: @warning;
    .drop-ie-gradient;
  }
  .bar-danger {
    background-color: @danger;
    .drop-ie-gradient;
  }
  .bar-info {
    background-color: @info;
    .drop-ie-gradient;
  }
}
