// Tooltip on hover
.tooltip {
  font-size: 13px;
  &.in {
    .opacity(1);
  }
  &.top {
    padding-bottom: 9px;
    .tooltip-arrow {
      border-top-color: @base;
      border-width: 9px 9px 0;
      bottom: 0;
      margin-left: -9px;
    }
  }
  &.right {
    .tooltip-arrow {
      border-right-color: @base;
      border-width: 9px 9px 9px 0;
      margin-top: -9px;
      left: -3px;
    }
  }
  &.bottom {
    padding-top: 8px;
    .tooltip-arrow {
      border-bottom-color: @base;
      border-width: 0 9px 9px;
      margin-left: -9px;
      top: -1px;
    }
  }
  &.left {
    .tooltip-arrow {
      border-right-color: @base;
      border-width: 9px 9px 9px 0;
      margin-top: -3px;
      top: -3px;
    }
  }
}

.tooltip-inner {
  background-color: @base;
  line-height: 18px;
  padding: 12px 12px;
  text-align: center;
  width: 183px;
  .border-radius(6px);
}
