// Typography
body {
  color: @base;
  font: ~"@{base-font-size}/1.231" "Lato", sans-serif;
}

a {
  color: @firm;
  text-decoration: underline;
  .transition(0.25s);
  &:hover {
    color: @warning;
    text-decoration: none;
  }
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.first-lead {
  font-size: (@base-font-size * 1.25);
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}